<header class="navbar">
  <div class="logo" routerLink="/dashboard">SPECTO <span>BANK</span></div>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">Личный кабинет</a>
    <a routerLink="/accounts" routerLinkActive="active" class="nav-item">Мои счета</a>
    <a routerLink="/payments" routerLinkActive="active" class="nav-item">Платежи</a>
  </nav>

  <div class="user-profile" *ngIf="currentUser; else guestUser">
    <div class="avatar">{{ userInitial }}</div>
    <span>{{ currentUser.name }}</span>
    <button class="btn-link" (click)="logout()">Выйти</button>
  </div>
  <ng-template #guestUser>
    <div class="user-profile">
      <div class="avatar">G</div>
      <span>Гость</span>
      <button class="btn-link" (click)="goToLogin()">Войти</button>
    </div>
  </ng-template>
</header>

<main class="page-shell">
  <router-outlet></router-outlet>
</main>
